.hotels-card {
  width: 25%;
}
.hotels-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.hotel-rate {
  color: #fff;
  background-color: #003580;
}
@media (max-width: 767px) {
  .hotels-card {
    width: 100%;
  }
}
